/*******************************************************************************
*
* pattern.css
*
*
*******************************************************************************/
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 96%;
  margin: 0 auto; }

.grid-block {
  background-color: #CCCCCC;
  height: 500px;
  padding-right: 25%; }

.grid-block-full-bg {
  position: relative;
  background-color: #CCCCCC;
  height: 500px; }

/*********************
        NAVBAR
*********************/
.nav-body {
  padding-top: 85px; }

.nav-header {
  border-bottom: 1px solid #CCCCCC;
  height: 85px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 1; }

.nav-up {
  top: -85px; }

.nav-link {
  padding-right: 1em !important;
  margin-right: 1em !important; }

.nav-button {
  padding-right: 0 !important; }

.navbar-default {
  background: none;
  border: none;
  box-shadow: none; }
  .navbar-default .navbar-brand {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #7F7F7F; }
  .navbar-default .navbar-nav > li > a {
    color: #000000;
    font-weight: normal;
    cursor: pointer; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #7F7F7F;
      text-decoration: none; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555; }
  .navbar-default .navbar-nav .evo-button-smaller {
    margin-top: -10px; }
  .navbar-default .navbar-toggle {
    background: none;
    border: none; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background: none;
      border: none; }

/*********************
IMAGE STYLES
*********************/
.full-screen-img {
  position: relative;
  background: url(../../img/monolake.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/***************************
VIDEO AND TEXT ABOVE STYLES
***************************/
.video-container {
  position: relative; }

.video-container video {
  position: relative;
  z-index: 0; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.full-width-container {
  overflow: hidden;
  height: 0px;
  padding-bottom: 500px;
  position: relative; }

.full-width-container video {
  position: absolute;
  width: 100%; }

.full-width-container-responsive {
  width: 100% !important;
  height: auto !important; }

.html5-video-full-width-wrapper {
  background-color: #000000;
  height: 500px;
  width: 100%; }

.html5-video-full-width-wrapper video {
  width: auto;
  height: 500px;
  margin-top: 0px; }

/*********************
COLOR STYLES
*********************/
.full-screen {
  min-height: 100vh; }

.xy-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

/*********************
     MAP STYLE
*********************/
.full-width, .one-column {
  width: 100%;
  height: 500px; }

/*******************************
    ONE COLUMN SLIDESHOW STYLE
 *******************************/
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px; }

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none; }

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px; }

#slider-full-width {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px; }

#slider-full-width ul {
  position: relative;
  margin: 0;
  padding: 0;
  right: 52%;
  height: 200px;
  list-style: none; }

#slider-full-width ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px; }

a.control_prev_full, a.control_next_full {
  position: absolute;
  top: 45%;
  z-index: 999;
  /*display: block;*/
  padding: 4% 3%;
  width: auto;
  height: auto;
  /*  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;*/
  cursor: pointer; }

a.control_prev_full {
  border-radius: 0 2px 2px 0;
  top: 18%; }

a.control_next_full {
  right: 0;
  border-radius: 2px 0 0 2px;
  top: 30%; }

#slider-full-screen {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px; }

#slider-full-screen ul {
  position: relative;
  margin: 0;
  padding: 0;
  right: 52%;
  list-style: none; }

#slider-full-screen ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #ccc;
  text-align: center;
  line-height: 300px; }

a.control_prev_full_screen, a.control_next_full_screen {
  position: absolute;
  top: 45%;
  z-index: 999;
  /*display: block;*/
  padding: 4% 3%;
  width: auto;
  height: auto;
  /*  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;*/
  cursor: pointer; }

a.control_prev_full_screen {
  border-radius: 0 2px 2px 0;
  top: 35%; }

a.control_next_full_screen {
  right: 0;
  border-radius: 2px 0 0 2px;
  top: 39%; }

a.control_prev, a.control_next {
  position: absolute;
  top: 45%;
  z-index: 999;
  /*display: block;*/
  padding: 4% 3%;
  width: auto;
  height: auto;
  /*  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;*/
  cursor: pointer; }

/*a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}*/
a.control_prev {
  border-radius: 0 2px 2px 0;
  top: 42%; }

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px; }

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px; }

/*******************************
    FULL WIDTH SLIDESHOW STYLE
 *******************************/
#holder {
  height: 300px;
  overflow: hidden;
  width: 300px; }

.mc-hide-scrolls {
  overflow: hidden; }

body .mc-cycle {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1; }

div.mc-image {
  /*NOTE: Mozilla flickers when fading and using 'all', so we have to be specific with what property we want to transition:
    If you are using fading transitions, use 'opacity: */
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  /*If you are using horizontal slide transitions, use the following CSS:
  -webkit-transition: left 1s ease-in-out; 
  -moz-transition: left 1s ease-in-out; 
  -o-transition: left 1s ease-in-out; 
  transition: left 1s ease-in-out;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  width: 100%; }

.mc-old-browser .mc-image {
  overflow: hidden; }

/* Basic CSS for FillElement */
#holder {
  /*height:300px;*/
  overflow: hidden;
  width: 100%; }

#full-screen-slideshow {
  position: relative !important; }

#full-width-slideshow {
  position: relative !important; }

#one-column-slideshow {
  position: relative !important; }

/* Other random styles */
#arrow_left_full,
#arrow_right_full {
  text-decoration: none; }

#arrow_left_one,
#arrow_right_one {
  text-decoration: none; }

#arrow_left,
#arrow_right {
  text-decoration: none; }

a {
  color: #fff; }

a:hover {
  text-decoration: none; }

a:active {
  color: #999; }

hr {
  clear: both; }

p {
  margin-bottom: 20px; }

.largeTxt {
  font-size: 30px; }

.masonry {
  /* Masonry container */
  column-count: 4;
  column-gap: 1em; }

.item {
  /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%; }

.masonry {
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em; }

.item {
  display: inline-block;
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
  width: 100%; }

@media only screen and (min-width: 300px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; } }

@media only screen and (min-width: 700px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3; } }

@media only screen and (min-width: 900px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; } }

@media only screen and (min-width: 1100px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; } }

@media only screen and (min-width: 1300px) {
  .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; } }

*, *:before, *:after {
  box-sizing: border-box !important; }

.bs-well-masonry-row {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; }

.item {
  display: inline-block;
  padding: .25rem;
  width: 100%; }

.well {
  position: relative;
  display: block;
  margin-bottom: 0px; }

.bs-panels-masonry-row {
  -moz-column-width: 25em;
  -webkit-column-width: 25em;
  -moz-column-gap: .5em;
  -webkit-column-gap: .5em; }

.panel {
  display: inline-block;
  margin: .5em;
  padding: 0;
  width: 98%; }

.btn-social {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #000000;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  line-height: 60px; }

/*------------------------------------------------------------------*/
/* Portfolio (Isotop Grid, box, Portfolio Single Page, etc...) */
/*------------------------------------------------------------------*/
.portfolio-grid .portfolio-item {
  position: relative;
  float: left;
  width: 33.33333333333333%;
  height: auto;
  margin: 0px;
  padding: 15px;
  display: block; }

@media (max-width: 1170px) {
  .portfolio-grid .portfolio-item {
    width: 33.33333333333333%; } }

@media (max-width: 980px) {
  .portfolio-grid .portfolio-item {
    width: 50%; } }

@media (max-width: 768px) {
  .portfolio-grid .portfolio-item {
    width: 100%; } }

.portfolio-box {
  position: relative;
  overflow: hidden; }

.portfolio-box a.porfolio-popup {
  display: block; }

.portfolio-box .portfolio-image-wrap {
  display: block;
  transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s; }

.portfolio-box .portfolio-image-wrap img {
  width: 100%; }

.portfolio-box:hover .portfolio-image-wrap {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  width: 100%; }

.portfolio-box .portfolio-caption-mask {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  z-index: 9; }

.portfolio-box:hover .portfolio-caption-mask {
  opacity: 1;
  visibility: visible; }

.portfolio-box .portfolio-caption-mask .portfolio-caption-text {
  bottom: -60px;
  left: 0;
  opacity: 0;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  text-align: left;
  transition: all 0.5s ease-in-out 0s; }

.portfolio-box:hover .portfolio-caption-mask .portfolio-caption-text {
  bottom: 30px;
  opacity: 1; }

.portfolio-box .portfolio-caption-mask h1, .portfolio-box .portfolio-caption-mask h2, .portfolio-box .portfolio-caption-mask h3, .portfolio-box .portfolio-caption-mask h4, .portfolio-box .portfolio-caption-mask h5, .portfolio-box .portfolio-caption-mask h6 {
  color: #fff;
  margin-bottom: 5px; }

.portfolio-box .portfolio-caption-mask p {
  margin-bottom: 0px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px; }

/* Portfolio Filter */
.portfolio-filter {
  margin: 0 0 15px;
  padding: 0;
  text-align: center; }

.portfolio-filter li {
  display: inline-block;
  list-style: none; }

.portfolio-filter li a {
  display: block;
  color: black;
  margin-left: 11px;
  margin-right: 11px;
  text-transform: uppercase; }

.portfolio-filter li a.active {
  font-weight: bold; }

.portfolio-filter li a:hover {
  color: #7f7f7f; }

/* Portfolio Single Page */
#portfolio-single .portfolio-image-wrap {
  margin-bottom: 20px; }

#portfolio-single .portfolio-image-wrap img {
  width: 100%; }

.portfolio-item-content {
  padding-left: 20px;
  padding-right: 20px;
  position: relative; }

.portfolio-item-content-spc {
  margin-top: 45px; }

.portfolio-item-content-detail li {
  line-height: 2; }

/* Scale Image */
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9); }

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../icons-gray/book-gray/close-book-gray.svg) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100; }

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative; }

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #f0f0f0; }

/* Effects */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s; }

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s; }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }
  .overlay ul li {
    min-height: 34px; } }

/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

#container-slideshow .item {
  margin: 3px; }

#container-slideshow .item img {
  display: block;
  width: 100%;
  height: auto; }

/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center; }

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5; }

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none; }

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */ }

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center; }

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #00A651; }

.ct-series-a .ct-area, .ct-series-a .ct-slice-pie {
  fill: #00A651; }

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: #2E3192; }

.ct-series-b .ct-area, .ct-series-b .ct-slice-pie {
  fill: #2E3192; }

.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut {
  stroke: #00AEEF; }

.ct-series-c .ct-area, .ct-series-c .ct-slice-pie {
  fill: #00AEEF; }

.ct-series-d .ct-bar, .ct-series-d .ct-line, .ct-series-d .ct-point, .ct-series-d .ct-slice-donut {
  stroke: #EC008C; }

.ct-series-d .ct-area, .ct-series-d .ct-slice-pie {
  fill: #EC008C; }

.ct-series-e .ct-bar, .ct-series-e .ct-line, .ct-series-e .ct-point, .ct-series-e .ct-slice-donut {
  stroke: #35BDA8; }

.ct-series-e .ct-area, .ct-series-e .ct-slice-pie {
  fill: #35BDA8; }

.ct-series-f .ct-bar, .ct-series-f .ct-line, .ct-series-f .ct-point, .ct-series-f .ct-slice-donut {
  stroke: #E66C40; }

.ct-series-f .ct-area, .ct-series-f .ct-slice-pie {
  fill: #E66C40; }

.ct-series-g .ct-bar, .ct-series-g .ct-line, .ct-series-g .ct-point, .ct-series-g .ct-slice-donut {
  stroke: #CB3E4B; }

.ct-series-g .ct-area, .ct-series-g .ct-slice-pie {
  fill: #CB3E4B; }

.ct-series-h .ct-bar, .ct-series-h .ct-line, .ct-series-h .ct-point, .ct-series-h .ct-slice-donut {
  stroke: #6b0392; }

.ct-series-h .ct-area, .ct-series-h .ct-slice-pie {
  fill: #6b0392; }

.ct-series-i .ct-bar, .ct-series-i .ct-line, .ct-series-i .ct-point, .ct-series-i .ct-slice-donut {
  stroke: #f05b4f; }

.ct-series-i .ct-area, .ct-series-i .ct-slice-pie {
  fill: #f05b4f; }

.ct-series-j .ct-bar, .ct-series-j .ct-line, .ct-series-j .ct-point, .ct-series-j .ct-slice-donut {
  stroke: #dda458; }

.ct-series-j .ct-area, .ct-series-j .ct-slice-pie {
  fill: #dda458; }

.ct-series-k .ct-bar, .ct-series-k .ct-line, .ct-series-k .ct-point, .ct-series-k .ct-slice-donut {
  stroke: #eacf7d; }

.ct-series-k .ct-area, .ct-series-k .ct-slice-pie {
  fill: #eacf7d; }

.ct-series-l .ct-bar, .ct-series-l .ct-line, .ct-series-l .ct-point, .ct-series-l .ct-slice-donut {
  stroke: #86797d; }

.ct-series-l .ct-area, .ct-series-l .ct-slice-pie {
  fill: #86797d; }

.ct-series-m .ct-bar, .ct-series-m .ct-line, .ct-series-m .ct-point, .ct-series-m .ct-slice-donut {
  stroke: #b2c326; }

.ct-series-m .ct-area, .ct-series-m .ct-slice-pie {
  fill: #b2c326; }

.ct-series-n .ct-bar, .ct-series-n .ct-line, .ct-series-n .ct-point, .ct-series-n .ct-slice-donut {
  stroke: #6188e2; }

.ct-series-n .ct-area, .ct-series-n .ct-slice-pie {
  fill: #6188e2; }

.ct-series-o .ct-bar, .ct-series-o .ct-line, .ct-series-o .ct-point, .ct-series-o .ct-slice-donut {
  stroke: #a748ca; }

.ct-series-o .ct-area, .ct-series-o .ct-slice-pie {
  fill: #a748ca; }

.revolution-slider-container {
  width: 100%;
  position: relative;
  padding: 0; }

.revolution-slider {
  width: 100%;
  position: relative; }

.full-width-revolution-slider-container {
  width: 100%;
  position: relative;
  padding: 0; }

.full-width-revolution-slider {
  width: 100%;
  position: relative; }

.full-screen-revolution-slider-container {
  width: 100%;
  position: relative;
  padding: 0; }

.full-screen-revolution-slider {
  width: 100%;
  position: relative; }

.youtube-revolution-video-container-default {
  width: 100%;
  position: relative;
  padding: 0; }

.youtube-revolution-video-default {
  width: 100%;
  position: relative; }

.youtube-revolution-video-container {
  width: 100%;
  position: relative;
  padding: 0; }

.youtube-revolution-video {
  width: 100%;
  position: relative; }

.full-youtube-revolution-video-container {
  width: 100%;
  position: relative;
  padding: 0; }

.full-youtube-revolution-video {
  width: 100%;
  position: relative; }

.full-screen-revolution-video-container {
  width: 100%;
  position: relative;
  padding: 0; }

.full-screen-revolution-video {
  width: 100%;
  position: relative; }

.ammapAlert {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: verdana,helvetica,arial,sans-serif;
  font-size: 12px;
  color: #CC0000; }

.ammapDescriptionWindow {
  font-size: 11px;
  font-family: verdana,helvetica,arial,sans-serif;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #DADADA;
  border-width: 1px;
  color: #000000;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ammapDescriptionTitle {
  font-size: 12px;
  font-weight: bold;
  font-family: verdana,helvetica,arial,sans-serif;
  padding-bottom: 5px; }

.ammapObjectList ul {
  padding-left: 20px;
  list-style: square outside;
  color: #999999;
  font-family: verdana,helvetica,arial,sans-serif;
  font-size: 12px; }

.ammapObjectList ul ul {
  padding-left: 14px; }

.ammapObjectList a {
  color: #000000; }

.ammapObjectList a {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 2px; }

.ammapObjectList a:hover {
  color: #CC0000;
  text-decoration: none;
  background: #FFFFFF;
  cursor: pointer;
  display: block; }

.ammapDescriptionText {
  overflow: auto; }

/* -------------------------------- 

Primary style

-------------------------------- */
/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none; }

.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1; }

.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto; }

.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden; }

.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px; }

.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0)); }

.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
  background-image: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0)); }

.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #DCDCDB;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s; }

.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00aeef;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s; }

.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #DCDCDB;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s; }

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #00aeef;
  border-color: #00aeef; }

.cd-horizontal-timeline .events a.selected {
  pointer-events: none; }

.cd-horizontal-timeline .events a.selected::after {
  background-color: #00aeef;
  border-color: #00aeef; }

.cd-horizontal-timeline .events a.older-event::after {
  border-color: #00aeef; }

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto; }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop'; } }

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #DCDCDB;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s; }

.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../../img/cd-arrow.svg) no-repeat 0 0; }

.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

.cd-timeline-navigation a.next {
  right: 0; }

.no-touch .cd-timeline-navigation a:hover {
  border-color: #00aeef; }

.cd-timeline-navigation a.inactive {
  cursor: not-allowed; }

.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px; }

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #DCDCDB; }

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s; }

.events ol {
  list-style: none; }

.events-content ol {
  list-style: none; }

.cd-timeline-navigation li {
  list-style: none; }

.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right; }

.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left; }

.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse; }

.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto; }

.cd-horizontal-timeline .events-content em {
  display: block;
  margin: 10px auto; }

.cd-horizontal-timeline .events-content em::before {
  content: '- '; }

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }

@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }

@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }

@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }

@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

/* -------------------------------- 

Primary style

-------------------------------- */
/*html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Droid Serif", serif;
  color: #7f8c97;
  background-color: #e9f0f5;
}

a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

h1, h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}*/
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  margin: 0 auto; }

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

/* -------------------------------- 

Main components 

-------------------------------- */
/*header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}
header h1 {
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
}
@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
}*/
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em; }

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #DCDCDB; }

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em; }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px; } }

.cd-timeline-block {
  position: relative;
  margin: 2em 0; }

.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-block:first-child {
  margin-top: 0; }

.cd-timeline-block:last-child {
  margin-bottom: 0; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0; }
  .cd-timeline-block:first-child {
    margin-top: 0; }
  .cd-timeline-block:last-child {
    margin-bottom: 0; } }

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #00aeef, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }

.cd-timeline-img svg {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px; }

.cd-timeline-img.cd-picture,
.cd-timeline-img.cd-picture-second {
  background: #ffffff; }

.cd-timeline-img.cd-movie,
.cd-timeline-img.cd-movie-second {
  background: #ffffff; }

.cd-timeline-img.cd-location,
.cd-timeline-img.cd-location-second {
  background: #ffffff; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden; }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s; } }

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5); }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2); }
  100% {
    -moz-transform: scale(1); } }

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #f3f3f3;
  /*border: 1px solid #DCDCDB;*/
  border-radius: 0.25em;
  padding: 1em; }

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both; }

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block; }

.cd-timeline-content p {
  margin: 1em 0; }

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #DCDCDB;
  color: #4A4D50;
  border-radius: 0.25em; }

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #00aeef; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0; }

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #f3f3f3; }

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%; }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #f3f3f3; }
  .cd-timeline-content .cd-read-more {
    float: left; }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    /*    font-size: 1rem;*/ }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #f3f3f3; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right; }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right; }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden; }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s; } }

.cd-date {
  margin-top: 2px; }

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s; } }

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px); }
  100% {
    -moz-transform: translateX(0); } }

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px); }
  100% {
    -moz-transform: translateX(0); } }

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

/* ------ venobox.css --------*/
.vbox-overlay *, .vbox-overlay *:before, .vbox-overlay *:after {
  -webkit-backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  -webkit-overflow-scrolling: touch; }

/* ------- overlay: change here background color and opacity ----- */
.vbox-overlay {
  background: #181818;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.relativo {
  float: left;
  width: 100%;
  height: 100%;
  display: block;
  position: relative; }

/* ----- preloader - choose between CIRCLE, IOS, DOTS, QUADS ----- */
/* circle preloader */
.vbox-preloader {
  position: fixed;
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
  background-image: url(preload-circle.png);
  text-indent: -100px;
  overflow: hidden;
  -webkit-animation: playload 1.4s steps(18) infinite;
  -moz-animation: playload 1.4s steps(18) infinite;
  -ms-animation: playload 1.4s steps(18) infinite;
  -o-animation: playload 1.4s steps(18) infinite;
  animation: playload 1.4s steps(18) infinite; }

@-webkit-keyframes playload {
  from {
    background-position: 0px; }
  to {
    background-position: -576px; } }

@-moz-keyframes playload {
  from {
    background-position: 0px; }
  to {
    background-position: -576px; } }

@-ms-keyframes playload {
  from {
    background-position: 0px; }
  to {
    background-position: -576px; } }

@-o-keyframes playload {
  from {
    background-position: 0px; }
  to {
    background-position: -576px; } }

@keyframes playload {
  from {
    background-position: 0px; }
  to {
    background-position: -576px; } }

/* IOS preloader */
/*
.vbox-preloader{
    position:fixed; 
    width:32px; 
    height:32px;
    left:50%; 
    top:50%; 
    margin-left:-16px; 
    margin-top:-16px;
    background-image: url(preload-ios.png);
    text-indent: -100px;
    overflow: hidden;
    -webkit-animation: playload 1.4s steps(12) infinite;
       -moz-animation: playload 1.4s steps(12) infinite;
        -ms-animation: playload 1.4s steps(12) infinite;
         -o-animation: playload 1.4s steps(12) infinite;
            animation: playload 1.4s steps(12) infinite;
}

@-webkit-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -384px; }
}
@-moz-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -384px; }
}
@-ms-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -384px; }
}
@-o-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -384px; }
}
@keyframes playload {
   from { background-position:    0px; }
     to { background-position: -384px; }
}
*/
/* dots preloader */
/*
.vbox-preloader{
    position:fixed; 
    width:32px; 
    height:11px;
    left:50%; 
    top:50%; 
    margin-left:-16px; 
    margin-top:-16px;
    background-image: url(preload-dots.png);
    text-indent: -100px;
    overflow: hidden;
    -webkit-animation: playload 1.4s steps(24) infinite;
       -moz-animation: playload 1.4s steps(24) infinite;
        -ms-animation: playload 1.4s steps(24) infinite;
         -o-animation: playload 1.4s steps(24) infinite;
            animation: playload 1.4s steps(24) infinite;
}

@-webkit-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -768px; }
}
@-moz-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -768px; }
}
@-ms-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -768px; }
}
@-o-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -768px; }
}
@keyframes playload {
   from { background-position:    0px; }
     to { background-position: -768px; }
}
*/
/* quads preloader */
/*
.vbox-preloader{
    position:fixed; 
    width:32px; 
    height:10px;
    left:50%; 
    top:50%; 
    margin-left:-16px; 
    margin-top:-16px;
    background-image: url(preload-quads.png);
    text-indent: -100px;
    overflow: hidden;
    -webkit-animation: playload 1.4s steps(12) infinite;
       -moz-animation: playload 1.4s steps(12) infinite;
        -ms-animation: playload 1.4s steps(12) infinite;
         -o-animation: playload 1.4s steps(12) infinite;
            animation: playload 1.4s steps(12) infinite;
}
@-webkit-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -384px; }
}
@-moz-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -384px; }
}
@-ms-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -384px; }
}
@-o-keyframes playload {
   from { background-position:    0px; }
     to { background-position: -384px; }
}
@keyframes playload {
   from { background-position:    0px; }
     to { background-position: -384px; }
}
*/
/* ----- navigation ----- */
.vbox-close {
  cursor: pointer;
  position: fixed;
  top: -1px;
  right: 0;
  width: 46px;
  height: 40px;
  padding: 10px 20px 10px 0;
  display: block;
  background: url(close.gif) no-repeat #161617;
  background-position: 10px center;
  color: #fff;
  text-indent: -100px;
  overflow: hidden; }

.vbox-next, .vbox-prev {
  box-sizing: content-box;
  cursor: pointer;
  position: fixed;
  top: 50%;
  color: #fff;
  width: 30px;
  height: 170px;
  margin-top: -85px;
  text-indent: -100px;
  border: solid transparent;
  /* Using border instead of padding to keep bg image in place */
  overflow: hidden; }

.vbox-prev {
  left: 0;
  border-width: 0 30px 0 10px;
  background: url(prev.gif) center center no-repeat; }

.vbox-next {
  right: 0;
  border-width: 0 10px 0 30px;
  background: url(next.gif) center center no-repeat; }

.vbox-title {
  width: 100%;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  color: #fff;
  padding: 6px 40px;
  overflow: hidden;
  background: #161617;
  position: fixed;
  display: none;
  top: -1px;
  left: 0; }

.vbox-num {
  cursor: pointer;
  position: fixed;
  top: -1px;
  left: 0;
  height: 40px;
  display: block;
  color: #fff;
  overflow: hidden;
  line-height: 28px;
  font-size: 12px;
  padding: 6px 10px;
  background: #161617;
  display: none; }

/* ------- inline window ------ */
.vbox-inline {
  width: 420px;
  height: 315px;
  padding: 10px;
  background: #fff;
  text-align: left;
  margin: 0 auto;
  overflow: auto; }

/* ------- Video & iFrames window ------ */
.venoframe {
  border: none;
  width: 960px;
  height: 720px; }

@media (max-width: 992px) {
  .venoframe {
    width: 640px;
    height: 480px; } }

@media (max-width: 767px) {
  .venoframe {
    width: 420px;
    height: 315px; } }

@media (max-width: 460px) {
  .vbox-inline {
    width: 100%; }
  .venoframe {
    width: 100%;
    height: 260px; } }

/* ------- PLease do NOT edit this! (or do it at your own risk) ------ */
.vbox-container {
  position: relative;
  background: #000;
  width: 98%;
  max-width: 1024px;
  margin: 0 auto; }

.vbox-content {
  text-align: center;
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden; }

.vbox-container img {
  max-width: 100%;
  height: auto; }

.vwrap {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  left: 0;
  overflow: hidden;
  z-index: 1; }

/*@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,700);*/
/* ======= DEMO LAYOUT ======= */
body {
  /*  background-color: #2f2f2f;
  color: #eeefef;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Helvetica Neue", sans-serif;
  /*  margin: 0;
  padding: 0;*/ }

/*.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  *zoom: 1;
}*/
.timeline-container h1 {
  color: #7DBADF;
  font-size: 36px;
  font-weight: 400;
  margin: 0; }

.timeline-container h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 5px 0;
  letter-spacing: .1em; }

.timeline-container h3 {
  font-size: 1.6em;
  margin: 10px 0 10px 10px; }

.timeline-container a:link,
.timeline-container a:visited {
  color: #7097af;
  text-decoration: none; }

.timeline-container a:hover {
  color: #7DBADF; }

.timeline-container a img {
  border: none; }

.timeline-container p {
  margin: 0 0 10px 8px;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.6em; }

.lead {
  font-size: 2em;
  margin-bottom: 40px; }

.clear {
  clear: both;
  line-height: 0;
  font-size: 0; }

/*body {
  background: #090a0f url("../img/bg-space-mod.jpg") no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Josefin Sans", arial, sans serif;
  font-size: 68.5%;
  padding: 40px 0;
}
h1 {
  color: #78a8b2;
  font-size: 4.8em;
  font-weight: 400;
  text-transform: uppercase;
}
h2 {
  font-size: 3.6em;
  font-weight: 400;
  text-transform: uppercase;
}
.step1 {
  color: rgba(255, 255, 255, 0.2);
}
.step2 {
  color: rgba(255, 255, 255, 0.4);
}
.step3 {
  color: rgba(255, 255, 255, 0.6);
}
.lead {
  color: rgba(255, 255, 255, 0.6);
}
a:hover,
a:link,
a:visited {
  color: #78a8b2;
}*/
.timeline-container {
  border-left: 2px solid #DCDCDB;
  margin: 20px auto;
  /*background-color: #2f2f2f;*/
  font-size: 62.5%;
  /*  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;*/ }

.timeline-container-tick {
  background: #DCDCDB;
  content: "";
  display: block;
  height: 4px;
  left: -8px;
  width: 14px;
  position: relative; }

.timeline-container::before {
  background: #DCDCDB;
  content: "";
  display: block;
  /*height: 4px;*/
  left: -8px;
  width: 14px;
  position: relative;
  top: -4px; }

.timeline-container::after {
  background: #DCDCDB;
  content: "";
  display: block;
  /*height: 4px;*/
  left: -8px;
  width: 14px;
  position: relative;
  top: 4px; }

.timeline-toggle {
  float: right;
  margin-right: 15px;
  white-space: nowrap; }

.timeline-toggle:hover {
  cursor: pointer;
  background: #00aeef;
  -webkit-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }

.timeline-toggle:focus {
  outline: none; }

.timeline-wrapper {
  clear: left;
  float: left;
  margin: 0 0 12px;
  width: 900px; }

.timeline-wrapper .timeline-time::before {
  border-top: 2px solid #DCDCDB;
  content: "";
  display: inline-block;
  height: 4px;
  margin-right: 0px;
  vertical-align: middle;
  width: 24px; }

.timeline-wrapper .timeline-time {
  cursor: pointer;
  font-size: 2.8em;
  font-weight: 400;
  margin: 0 0 30px 0;
  padding: 0; }

.timeline-wrapper .timeline-time span:hover {
  border-color: #00aeef;
  color: #00aeef;
  -webkit-transition: border-color 0.2s ease-in, color 0.2s ease-in;
  -moz-transition: border-color 0.2s ease-in, color 0.2s ease-in;
  -o-transition: border-color 0.2s ease-in, color 0.2s ease-in;
  transition: border-color 0.2s ease-in, color 0.2s ease-in; }

.timeline-wrapper .timeline-time span.selected {
  border-color: #00aeef;
  color: #00aeef; }

.timeline-series {
  clear: left;
  float: left;
  margin: 0 12px 0 0;
  padding: 4px 4px 4px 0;
  position: relative;
  width: 880px; }

.timeline-series dt::before {
  border-top: 2px solid #DCDCDB;
  content: "";
  display: inline-block;
  height: 3px;
  margin-right: 10px;
  vertical-align: middle;
  width: 10px; }

.timeline-series dt {
  clear: left;
  font-size: 2em;
  line-height: 1.2em;
  margin: 0 0 12px;
  white-space: nowrap; }

.timeline-series dt a {
  color: #999999;
  cursor: pointer; }

.timeline-series dt a .closed {
  color: #999999;
  font-size: 1em;
  margin-left: 0; }

.timeline-series dt a .open {
  color: #7DBADF; }

.timeline-series dt a:hover {
  color: #999999;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in; }

.timeline-series dd {
  padding-left: 24px;
  width: 100%; }

.timeline-series dd h3 {
  color: #FFF;
  clear: both;
  float: left;
  font-size: 1.5em;
  margin: 0;
  white-space: nowrap; }

.tick {
  background: #DCDCDB;
  clear: both;
  display: block;
  height: 2px;
  left: 0;
  width: 4px;
  position: relative; }

.tick-before {
  top: -6px; }

.tick-after {
  top: -4px; }

.timeline-event-content {
  display: none;
  margin-bottom: 40px; }

.timeline-event-content p {
  clear: left;
  float: left;
  font-size: 16px;
  /*font-weight: 100;*/
  /*line-height: 1.2em;*/
  margin: 6px 0 10px;
  width: 500px; }

.timeline-event-content h4 {
  clear: left;
  float: left;
  font-size: 1.4em;
  font-weight: 400;
  margin: 10px 0 0;
  padding: 0 0 0 20px; }

.timeline-event-content blockquote {
  border-left: 2px solid #00aeef;
  clear: left;
  float: left;
  line-height: 1.2em;
  margin-left: 0;
  padding: 0 30px;
  width: 400px; }

.timeline-event-content blockquote .attribution {
  font-size: 0.7em;
  text-align: right; }

.timeline-event-content .media {
  float: right;
  padding: 0 0 12px;
  width: 300px; }

.timeline-event-content .media img {
  border: 2px solid rgba(255, 255, 255, 0.85);
  /*border-radius: 100px;*/
  height: 200px;
  margin: 0;
  width: 200px; }

.timeline-event-content .media p {
  clear: both;
  font-size: 1.4em;
  margin: 15px 0; }

.timeline-event-content .media p a {
  text-transform: lowercase; }

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: -20px;
  bottom: 10px;
  color: #00aeef;
  left: 15px;
  font-size: 14px;
  opacity: 1; }

input:not(:focus):valid ~ .floating-label {
  color: #808080; }

input.inputText:focus {
  border-bottom: 1px solid #00aeef !important;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all; }

textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label {
  top: -20px;
  bottom: 10px;
  color: #00aeef;
  left: 15px;
  font-size: 14px;
  opacity: 1; }

textarea:not(:focus):valid ~ .floating-label {
  color: #808080; }

textarea.inputText:focus {
  border-bottom: 1px solid #00aeef !important;
  transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all; }

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 5px;
  transition: 0.3s ease all; }

ul.helper-text {
  margin-top: 6px;
  color: #0f0f0f; }
  ul.helper-text li.valid {
    color: rgba(0, 0, 0, 0.5);
    background: url(../icons-gray/book-gray/circle-solid-book-gray.svg) 0 0.29118rem no-repeat;
    background-size: .30625rem; }

ul.helper-text-1 {
  margin-top: 6px;
  color: #0f0f0f; }
  ul.helper-text-1 li.valid {
    color: rgba(0, 0, 0, 0.5);
    background: url(../icons-gray/book-gray/circle-solid-book-gray.svg) 0 0.29118rem no-repeat;
    background-size: .30625rem; }

#input_container {
  position: relative;
  padding: 0;
  margin: 0;
  background: #ddd; }

#input {
  height: 35px;
  margin: 0; }

#input_img {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  right: 10px;
  width: 23px;
  height: 23px; }

#input_img_box {
  position: absolute;
  cursor: pointer;
  bottom: 5px;
  right: 10px;
  width: 23px;
  height: 23px; }

textarea.focus-border-color:focus, input.focus-border-color:focus, input[type].focus-border-color:focus, .uneditable-input.focus-border-color:focus {
  border-color: rgba(0, 174, 239, 0.8) !important;
  outline: 0 none; }
