/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  width: 96%;
  margin: 0 auto;
}

.grid-block {
  background-color: #CCCCCC;
  height: 500px;
  padding-right:25%;
}

.grid-block-full-bg {
  background-color: #CCCCCC;
  height: 500px;
}