/*********************
IMAGE STYLES
*********************/

// .full-bg-img {
//   position: fixed; 
//   top: -50%; 
//   left: -50%; 
//   width: 200%; 
//   height: 200%;
// }
// .full-bg-img img {
//   position: absolute; 
//   top: 0; 
//   left: 0; 
//   right: 0; 
//   bottom: 0; 
//   margin: auto; 
//   min-width: 50%;
//   min-height: 50%;
// }

// .full-bg-img h2 {
//   position: absolute;
// }

.full-screen-img {
  background: url(../../img/monolake.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}