.youtube-revolution-video-container {
  width:100%;
  position:relative;
  padding:0;
}
 
.youtube-revolution-video{
  width:100%;
  position:relative;
}

.full-youtube-revolution-video-container {
  width:100%;
  position:relative;
  padding:0;
}
 
.full-youtube-revolution-video{
  width:100%;
  position:relative;
}