.revolution-slider-container {
  width:100%;
  position:relative;
  padding:0;
}
 
.revolution-slider{
  width:100%;
  position:relative;
}

.full-width-revolution-slider-container {
  width:100%;
  position:relative;
  padding:0;
}
 
.full-width-revolution-slider {
  width:100%;
  position:relative;
}

.full-screen-revolution-slider-container {
  width:100%;
  position:relative;
  padding:0;
}
 
.full-screen-revolution-slider {
  width:100%;
  position:relative;
}

.youtube-revolution-video-container-default {
  width:100%;
  position:relative;
  padding:0;
}
 
.youtube-revolution-video-default {
  width:100%;
  position:relative;
}


.youtube-revolution-video-container {
  width:100%;
  position:relative;
  padding:0;
}
 
.youtube-revolution-video{
  width:100%;
  position:relative;
}

.full-youtube-revolution-video-container {
  width:100%;
  position:relative;
  padding:0;
}
 
.full-youtube-revolution-video{
  width:100%;
  position:relative;
}

.full-screen-revolution-video-container {
  width:100%;
  position:relative;
  padding:0;
}
 
.full-screen-revolution-video{
  width:100%;
  position:relative;
}